extends layout

block header

block content
    .main
      img(src="#{mainLogo}" alt="Mark Langenhorst").main_logo
      h1.main_name Mark Langenhorst
      h1 Web Designer/Developer
      h2.randomString "#{randomString}"
  
